In [78]:
import os
import pandas as pd
import psycopg2
import psycopg2.extras
import json
import numpy as np 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session,sessionmaker
from sqlalchemy import create_engine, distinct
from sqlalchemy.sql import func
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
from config import ServerName, UserName, Password, DataBase
from sqlalchemy import asc, desc

In [79]:
app = Flask(__name__)

app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

app.config['SQLALCHEMY_DATABASE_URI'] = os.environ.get('DATABASE_URL','') or f"postgres://{UserName}:{Password}@localhost:5432/{DataBase}"
db = SQLAlchemy(app)

In [80]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
worlddata = Base.classes.worlddata

In [81]:
hostname = 'localhost'
username = 'postgres'
password = 'Willetton19210979'
database = 'Trade_agriculture_data'
connection = psycopg2.connect(host=hostname, user=username, password=password, dbname=database )

In [82]:
world_data = pd.read_sql_query('SELECT DISTINCT rep_countries FROM worlddata ',con=connection).sort_values(by=['rep_countries'])

In [83]:
def countrieslist():
    # Create our session (link) from Python to the DB
    session = Session(db.engine)

    """Return a list of all passenger names"""
    # Query all passengers
    results = session.query(worlddata.rep_countries).sort_values(by=['rep_countries'])
    print(results)
    session.close()

    # Convert list of tuples into normal list
    all_countirs = list(np.ravel(results))
    print(all_countirs)
    return jsonify(all_countirs)

In [100]:
session = Session(db.engine)
results = session.query(worlddata.rep_countries).distinct().all()
results.sort()
#print(results)
session.close()

In [101]:
session = Session(db.engine)
list_year = session.query(worlddata.year).distinct().all()
list_year = np.array(list_year, dtype=int)
print(list_year)
session.close()

[[2015]
 [2011]
 [2014]
 [2017]
 [2019]
 [2016]
 [2012]
 [2018]
 [2013]]

In [183]:
aus_test_importv = session.query(worlddata.rep_countries, worlddata.par_countries, worlddata.year, worlddata.element, worlddata.value, worlddata.item).filter_by(rep_countries= 'Australia', element= 'Import Value').all()
aus_test_exportv = session.query(worlddata.rep_countries, worlddata.par_countries, worlddata.year, worlddata.element, worlddata.value, worlddata.item).filter_by(rep_countries= 'China', element= 'Export Value').all()
importV_df = pd.DataFrame(aus_test_importv, columns=['rep_countries', 'par_countries', 'year','element', 'value', 'item'])
exportV= pd.DataFrame(aus_test_exportv, columns=['rep_countries', 'par_countries', 'year','element', 'value', 'item'])

In [184]:
aus_import_v = importV_df.loc[importV_df['year'] == 2018 ].sort_values('value',ascending=False).head(10)
aus_import_v

,rep_countries,par_countries,year,element,value,item
116,Australia,Argentina,2018,Import Value,352530.0,"Cake, soybeans"
30949,Australia,United States of America,2018,Import Value,191147.0,"Meat, pork"
18565,Australia,New Zealand,2018,Import Value,181418.0,"Cheese, whole cow milk"
18493,Australia,New Zealand,2018,Import Value,162500.0,"Butter, cow milk"
7053,Australia,Denmark,2018,Import Value,129321.0,"Meat, pork"
31679,Australia,Viet Nam,2018,Import Value,117640.0,"Cashew nuts, shelled"
24990,Australia,Spain,2018,Import Value,108674.0,"Oil, olive, virgin"
26608,Australia,Switzerland,2018,Import Value,101314.0,"Coffee, roasted"
17666,Australia,Netherlands,2018,Import Value,97403.0,"Coffee, extracts"
16258,Australia,Malaysia,2018,Import Value,96376.0,"Oil, palm"

In [188]:
aus_export_v = exportV.loc[exportV['year'] == 2019 ].sort_values('value',ascending=False).head(10)
aus_export_v

Empty DataFrame
Columns: [rep_countries, par_countries, year, element, value, item]
Index: []

In [182]:
aus_export_v.groupby(["item", "year", "par_countries"]).sum().sort_values('value',ascending=False).reset_index()

,item,year,par_countries,value
0,"Wool, greasy",2018,"China, mainland",2150725.0
1,"Meat, cattle, boneless (beef & veal)",2018,Japan,1691473.0
2,"Meat, cattle, boneless (beef & veal)",2018,United States of America,1301125.0
3,Barley,2018,"China, mainland",1053232.0
4,"Meat, cattle, boneless (beef & veal)",2018,"China, mainland",873800.0
5,"Meat, cattle, boneless (beef & veal)",2018,Republic of Korea,865873.0
6,"Meat, sheep",2018,United States of America,614518.0
7,Wheat,2018,Indonesia,523694.0
8,"Meat, sheep",2018,"China, mainland",506162.0
9,Cattle,2018,Indonesia,468855.0

In [ ]:
df1['item'] = df.groupby(["SINID"]).mean()['EXTRA']